@inherits LayoutComponentBase

<div class="container-fluid min-vh-100 d-flex flex-column justify-content-between" style="background: linear-gradient(gray, yellow);">

    <main>
        <article>
            @Body
        </article>
        <a class="btn btn-primary m-3" href="/">Vissza</a>
    </main>
    <footer class="modal-footer d-flex justify-content-center align-items-center">
        <span class="bg-danger bg-opacity-50">&copy; @DateTime.Now.Year Dave&Kore. All rights reserved.</span>
    </footer>
</div>