@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Security.Claims;
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@inject Autoberles.Data.MyDbContext DB
@inject NavigationManager NM
@rendermode InteractiveServer

@page "/newReservation"
@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Új foglalás</PageTitle>

<h1>Új foglalás</h1>

@* @if ((DB.Reservation is null || DB.User is null || DB.Car is null))
{
    <span>Betöltés...</span>
}
else
{
    foreach(Reservation res in DB.Reservation)
    {
        ResViewModel rvm = new ResViewModel();
        rvm.ResID = res.ReservationID;
        rvm.CarID = res.CarID;
        rvm.UserID = res.UserID;
        rvm.ResStart = res.StartDate;
        rvm.ResEnd = res.EndDate;
        resViews.Add(rvm);
    }
}
@foreach(Car car in DB.Car)
{
    for (int i = 0; i < resViews.Count; i++)
    {
        if(car.CarID == resViews[i].CarID)
        {
            resViews[i].BrandName = car.Brand;
        }
    }
}
@foreach(User user in DB.User)
{
    for (int i = 0; i < resViews.Count; i++)
    {
        if(user.UserID == resViews[i].UserID)
        {
            resViews[i].UserName = user.Username;
        }
    }
} *@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="d-flex">
                <label class="mt-3 m-2">Kezdődátum:</label>
                <div class="mt-3 me-5"><InputDate @bind-Value="SearchStart"></InputDate></div>
                <label class="mt-3 m-2">Végdátum:</label>
                <div class="mt-3"><InputDate @bind-Value="SearchEnd"></InputDate></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="btn btn-success mt-3" @onclick="ShowGrid">Keresés</p>
        </div>
    </div>
</div>
@if (showQG)
{
    <QuickGrid Class="table" Items="@filteredCars.AsQueryable()">
        <PropertyColumn Title="Márka" Property="car => car.Brand" Sortable="true" />
        <PropertyColumn Title="Típus" Property="car => car.Type" Sortable="true" />
        <PropertyColumn Title="Évjárat" Property="car => car.Year" Sortable="true" />
        <PropertyColumn Title="Ár (HUF)" Property="car => car.Price" Sortable="true" />
        <TemplateColumn Context="car" Title="Szerkesztés">
            <button class="btn btn-success" @onclick="()=>ReserveCar(car)">Foglalás</button>
        </TemplateColumn>
    </QuickGrid>
}

@code{
    [CascadingParameter]
    public HttpContext httpContext { set; get; }

    [SupplyParameterFromForm]
    Reservation newRes { set; get; } = new();

    public DateTime SearchStart = DateTime.Now;
    public DateTime SearchEnd = DateTime.Now.AddDays(7);

    private bool showQG = false;
    private List<Car> filteredCars = new List<Car>();

    // public class ResViewModel()
    // {
    //     public int ResID { get; set; }
    //     public int CarID { get; set; }
    //     public int UserID { get; set; }
    //     public string BrandName { get; set; }
    //     public string UserName { get; set; }
    //     public DateTime ResStart { get; set; }
    //     public DateTime ResEnd { get; set; }

    // }

    // List<ResViewModel> resViews = new List<ResViewModel>();

    private async Task ShowGrid()
    {
        string startDateString0 = SearchStart.ToShortDateString();
        string endDateString0 = SearchEnd.ToShortDateString();
        filteredCars = await GetCarsExcludingDateRange(DateTime.Parse(startDateString0),DateTime.Parse(endDateString0));
        showQG = true;
    }
    private Task<List<Car>> GetCarsExcludingDateRange(DateTime startDate, DateTime endDate)
    {
        var reservedCarIds = DB.Reservation
            .Where(res => (res.StartDate <= endDate && res.EndDate >= startDate) || (res.StartDate >= startDate && res.EndDate <= endDate))
            .Select(res => res.CarID)
            .ToList();

        var availableCars = DB.Car
            .Where(car => !reservedCarIds.Contains(car.CarID))
            .ToList();

        return Task.FromResult(availableCars);
    }

    private async Task ReserveCar(Car car)
    {
        var overlappingReservations = await DB.Reservation
            .AnyAsync(res => res.CarID == car.CarID && res.StartDate <= SearchEnd && res.EndDate >= SearchStart);

        if (overlappingReservations)
        {
            NM.NavigateTo("/newReservation");
        }
        else
        {
            Reservation newReservation = new Reservation
                {
                    CarID = car.CarID,
                    UserID = DB.User.FirstOrDefault().UserID,
                    StartDate = SearchStart,
                    EndDate = SearchEnd
                };

            DB.Reservation.Add(newReservation);
            await DB.SaveChangesAsync();
            showQG = false;
            NM.NavigateTo("/");
        }
    }
}